<?php
// do not store this file in GIT
// this file holds credentials

namespace CT_APITOOLS;

const CREDENTIALS = [
    'ctdomain' => "https://{yourchurch}.church.tools/?q=", // TODO: domain anpassen! Sollte https://domain/?q= sein
    'ctemail' => '{email}',
    'ctpassword' => '{pasword}',
    'ctaccesskey' => '{accesskey}' // usually not needed
    'ctinstance' => '{yourchurch}_'
];



