<?php
// do not store this file in GIT
// this file holds credentials

namespace CT_APITOOLS;

const CREDENTIALS = [
    'ctdomain' => "https://{yourchurch}.church.tools/?q=",
    'ctemail' => '{email}',
    'ctpassword' => '{pasword}',
    'ctaccesskey' => '{accesskey}'   // usually not needed
    'ctinstance' => '{yourchurch}_'  // used to build the filename - can be left as empty string
];



